secrets.yaml
secrets.yml
/hass_components
/homeassistant/tts
/homeassistant/custom_components/hacs
/homeassistant/custom_components/luxpower
/homeassistant/custom_components/tpms_ble
/homeassistant/custom_components/irrigation_unlimited
/signal-cli
/piper-data/
.storage

__pycache__

logs
*.log
*.log.1
*.uuid
*.conf
*.db
*.db-shm
*.db-wal
*.db-journal
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup
*.json


/mqtt/config/users.txt
/mqtt/data/mosquitto.db
/mqtt/log/mosquitto.log

/zb2mqtt-garage/log
/zb2mqtt-house/log

/.env
/postgres
