{% macro state_of_entities(entity_id) -%}
    {% if entity_id is string -%}
        {{ states(entity_id) -}}
    {% elif entity_id is iterable -%}
        {% set ref = namespace(values=[]) -%}
        {% for id in entity_id -%}
            {% set ref.values = ref.values + [states(id)] -%}
        {% endfor -%}
        {{ ref.values | to_json -}}
    {% else -%}
        unknown
    {% endif -%}
{% endmacro -%}